<div class="container text-center my-5">
  <h1><b> Find Your Nearest Hospitals </b></h1>
  <form class="mt-4">
    <div class="input-group">
      <span class="input-group-text">
        <i class="bi bi-search"></i>
      </span>
      <input
        type="text"
        class="form-control"
        placeholder="Enter the location"
        [(ngModel)]="address"
        name="address"
        (keyup.enter)="searchLocation()"
      />
    </div>
  </form>
  <div  *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  <div *ngIf="isLoading" class="loading">
    <p>Loading hospitals...</p>
    <!-- Add a spinner if desired -->
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <div class="card-container" *ngIf="!isLoading && hospitals.length > 0">
    <div class="card" *ngFor="let hospital of hospitals">
      <div class="card-body">
        <h5 class="card-title">{{ hospital.name }}</h5>
        <p class="card-address">Address: {{ hospital.address }}</p>
        <p class="card-phone">Phone: {{ hospital.phone }}</p>
      </div>
    </div>
  </div>
  
</div>
